<html ng-app>
<head>
	<title>Demo</title>
	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/controllers/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
</head>
<body>
	<div ng-app="app">
			<div ng-controller="CalculatorController">
				Enter number :
				<input type="number" ng-model="number">
				<button ng-click="doSquare()">X<sup>2</sup></button>
				<button ng-click="doCube()">X<sup>3</sup></button>
				<div>Answer : {{answer}}</div>
			</div>
	</div>
</body>
</html>